*{
  margin: 0px;
  padding: 0px;
}

#cabecalho {
  background-color: #036b52;
  margin-bottom:5px;
  padding: 20px;
  color: whitesmoke;
}

body {
  background-color: #2fc18c;
  font-family: 'Monda', sans-serif;
  color: #132a13;
  font-size: 22px;
}


h2 {
  text-align: center;
}

form {
  text-align: left;
}

input, select, textarea {
  background-color: #f5f3f4;
}

.campo {
  display: inline-block;
  margin: 5px 5px;
}

.about-area label{
  display: block;    
}

main {
  max-width: 60%;
  margin: 0 auto; 
}

button {
  font-family: 'Monda', sans-serif;
  padding: 15px 20px;
  cursor: pointer;
  width: 70%;
  background-color: #036b52;
  color: whitesmoke;
  border: 0;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 22px;
  display: block;
  margin: 0 auto;

  transition: background ease-in-out 0.2s;
}

button:hover {
  background-color: #045240;
}

.about-area{
  display: block;
}
.text-area{
  display: block;
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
  background-color: rgba(4, 82, 64, 0.5);
  border: solid 5px #045240;
  border-radius: 15px;

  height: 200px;
  min-height: 200px;
  max-height: 200px;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  padding: 15px;
}
